# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/
**/coverage/

# Android build artifacts
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/.gradle/
**/android/app/build/
**/android/local.properties

# iOS build artifacts
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
**/ios/.symlinks/
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Runner/assets/

# Web build artifacts
**/web/flutter_service_worker.js

# Environment variables / Secrets
*.env
.env*

# Symbolication and Obfuscation related
app.*.symbols
app.*.map.json
